* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: inline-flex;
    margin: 0 10px;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
}

header ul{
    display: flex;
    margin: 0 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: auto;
}

header img{
    height: 50px;
    margin: auto 10px;
}

header li {
    margin: auto 5px;
}

.ourmission {
    display: flex;
    background-image: url("/resources/images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
}

.ourmission .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1200px;
}

h2, h4 {
    margin: 10px;
}

.teaofthemonth{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1000px;
}

.teaofthemonth img{
    height: 200px;
    width: 300px;
}

.teaofthemonth .pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pics p {
    text-align: center;
    margin-top: 10px;
}

.locations{
    background-image: url("/resources/images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.locations h2{
    background: none;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10%;
}

.locations-containers{
    display: inline-flex;
    flex-direction: row;
    background: none;
    margin: 0 auto;
}

.locations-containers div {
    width: 300px;margin: 0 20px;
    opacity: 1;
}

.locations-containers h3 {
    text-align: center;
}

.locations-containers p {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
    margin: 0 20px;
}

footer {
    width: 100%;
    margin: 0 20px;
}
